
<div class="mainBack">
  <div class="main1">
    <h1 id="alist">Active list</h1>
<div class="paymentHeader">
  <h1>Payment Id</h1>
  <h1>Payment Description</h1>
  <h1>Amount</h1>
  <h1>Is payed</h1>
</div>
<div class="paymentTemplate">
{{#each payments as |payment|}}

  <div class="paymentBlock">
    <div class="paymentidTemplate">
    {{payment.paymentId}}
    </div> 
     <div class="descriptionTemplate">
    {{payment.description}}
    </div> 
     <div class="amountTemplate">
    {{payment.amount}}
    </div>
    <div class="isPayedTemplate">
    {{payment.isPayed}}
    </div>
    </div> 
   
    
{{/each}}

<div class="paymentInputFields">
<div class="mb-3">
        <label for="Input3" class="form-label">Description</label>
        <input type="email" class="form-control" id="paymentInput" placeholder="Description" name="username">
    </div>
    <div class="mb-3">
        <label for="Input3" class="form-label">Amount</label>
        <input type="email" class="form-control" id="amountInput" placeholder="$" name="username">
    </div>
    <div class="mb-3">
        <label for="Input3" class="form-label">Other</label>
        <input type="email" class="form-control" id="debtorInput" placeholder="other" name="username">
    </div>
    </div>

<button id="addPaymentBtn">Add payment</button>
<button id="addPurchaseBtn">Add purchase</button>

</div>
</div>
</div>

<script src="./js/payments.js"></script>

