<h1>Lists</h1>

<div class="listTemplate">
{{#each lists as |list|}}

    <div class="titleTemplate">
    {{list.title}}
    </div> 
     
{{/each}}

<button>Add list</button>
<button>Back</button>
</div>