<header>
   <h1> Header test </h1>
</header>

    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="BCash navbar-brand m-2" href="#">Boomerang Cash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Profile</a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <button class="dropdownMenuButton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lists
            </button>            
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">List 1</a>
            <a class="dropdown-item" href="#">List 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">All lists</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

    <h2 class="listName text-center p-2">List Name</h2> <!--List name to be pulled from page 3-->
    <br>
    <div class="text-center">
        <input class="expenseInput item" type="text" name="item" placeholder="Log an expense"/>
        <input class="expenseInput amount" type="text" name="amount" placeholder="$"/>
        <input class="expenseInput item" type="text" name="item" placeholder="Made by"/>
        <br>
        <input class="expenseInput item" type="text" name="item" placeholder="Log an expense"/>
        <input class="expenseInput amount" type="text" name="amount" placeholder="$"/>
        <input class="expenseInput item" type="text" name="item" placeholder="Made by"/>
        <br>
        <input class="expenseInput item" type="text" name="item" placeholder="Log an expense"/>
        <input class="expenseInput amount" type="text" name="amount" placeholder="$"/>
        <input class="expenseInput item" type="text" name="item" placeholder="Made by"/>
        <br>
        <br>
        <button class="itemButton" type="button" onclick="">Add another item</button>
    </div>
    <br>
    <br>
    <br>
    <div class="text-center">
        <button class="text-center" type="button" onclick="">Add a friend</button>
        <button class="text-center" type="button" onclick="">Add payment</button>
        <button class="text-center" type="button" onclick="">Check balance</button>
    </div>