<h1>Lists</h1>

<div class="listTemplate">
{{#each lists as |list|}}

    <div class="titleTemplate">
    {{list.title}}
    </div> 
     
{{/each}}

<button id="addListBtn">Add list</button>
<button id="backBtn">Back</button>
</div>