<div class="mainBack">
  <div class="main1">
    
    <div class="mainForm">
      <div class="mb-3">
        <input type="email" class="form-control" id="Input1" placeholder="name@example.com" name="email">
    </div>
    <div class="mb-3">
        <input type="string" class="form-control" id="userNameInput" placeholder="UserName" name="username">
    </div>
<div class="mb-3">
  <input type="password" class="form-control" id="Input2" placeholder="Password" name="password">
</div>
<button id="loginAccBtn">Log in</button>
<button id="signUpAccBtn">Sign Up</button>

</div>
</div>
</div>

<script src="./js/login.js"></script>