<div class="mainBack">
  <div class="main1">
    
      <div class="mb-3">
        <label for="Input1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Input1" placeholder="name@example.com" name="email">
    </div>
    <div class="mb-3">
        <label for="Input3" class="form-label">Username</label>
        <input type="string" class="form-control" id="Input3" placeholder="name@example.com" name="username">
    </div>
<div class="mb-3">
  <label for="Input2" class="form-label">Password</label>
  <input type="password" class="form-control" id="Input2" placeholder="Password" name="password">
</div>
<button id="loginAccBtn">Log in</button>
<button id="signUpAccBtn">Sign Up</button>

</div>
</div>
<script src="./js/login.js"></script>