{{!-- main in-app handlebars template --}}

<header>
   <h1> Header test </h1>
</header>

    <div class="container-fluid"></div>
        <main>
            <div class="nav1">

                <button id="homeBtn">Home</button>
                <button>Dashboard</button>
                <button>Log in</button>
                <button>Sign up</button>

            </div>
        </main>
    </div>