<div class="mainBack">
  <div class="mainM">

<h2 id="title2">Watch your money go... </h2>
<h2 id="title3">and watch it come back!</h2>

</div>
</div>
<p id="title4">
    A new and interactive way to manage your personal finnace and for facilitating groups with running tabs. 
    Parties, vacations and social gatherings can get annoying when it comes to settling tabs, cash boomerang 
    helps users keep track of who owes them money and to who they owe to, so they can focus on having fun!
</p>

</div>
</div>