<h1>User Info</h1>

<div class="mainBack">
  <div class="main1">

<div class="userI">

  <div class="usernameTemplate">
    {{ user }}
  </div>

<h1 id="usernameTemplate">Username: Active User</h1>
<h1 id="balance">Balance: $</h1>

<a href="lists"><button id="listsAccBtn">Lists</button></a>

</div>
</div>
</div>