<header>
   <h1> Header test </h1>
</header>

    <div class="container-fluid"></div>
        <main>
            <div class="nav1">

                <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand m-2" href="#">Boomerang Cash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Profile</a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <button class="dropdownMenuButton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lists
            </button>            
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">List 1</a>
            <a class="dropdown-item" href="#">List 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">All lists</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
   <br>
   <div p-4>
    <h2 class="text-center">List Detail</h2> <!--List name to be pulled from page 3-->
   </div>
   
    <br>
    <br>
    <div .col-12 .col-md-12 class="text-center">
        <h3>Balance</h3>
    </div>
    <br>
    <br>
    <div class="row mb-3 text-center">
        <div class="col-6 col-sm-4 themed-grid-col">User 1</div>
        <div class="col-6 col-sm-4 themed-grid-col">User 2</div>
        <div class="col-6 col-sm-4 themed-grid-col">User 3</div>
    </div>

            </div>
        </main>
    </div>