
<div class="mainBack">
  <div class="main1">

<div class="userTemplate">
{{#each users as |user|}}

    <div class="useridTemplate">
    {{user.userId}}
    </div> 
     <div class="firstNameTemplate">
    {{user.firstName}}
    </div> 
     <div class="lastNameTemplate">
    {{user.lastName}}
    </div> 
    
{{/each}}

</div>
</div>
</div>