/* Add front end CSS style here */

:root {
    --darkGreen: #062C30;
    --paleGreen: #05595B;
    --paleYellow: #E2D784;
    --paleCream: #F5F5F5;
}


header {
    display: flex;
    justify-content: center;
    background-color: #062C30;
    padding-bottom: 2rem;
}

header h1 {
    font-size: 4rem;
    color: var(--paleCream);
    margin-top: 1rem;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--paleGreen);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav1 button {
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 3rem;
    background-color: var(--darkGreen);
    color: #E2D784;
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.6s;
}

.nav1 button:hover {
    background-color: #F66B0E;
    transform: scale(1.15);
}

.mainBack{
    display: flex;
    justify-content: center;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding-bottom: 5rem;
    width: 85%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
}

.main1All {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding-bottom: 5rem;
    width: 90%;
}



.main1All .blog {
    background-color: var(--paleGreen);
    font-size: 4rem;
    margin: 2rem;
    margin-top: 4rem;
    width: 70%;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: var(--paleCream);
    border-radius: 3rem;
}

#submitBtn {
    margin: 2rem;
    margin-bottom: 5rem;
}

.form-label {
    margin: 2rem;
    margin-top: 4rem;
}

#dash {
    color: #F5F5F5;
}

#logInAccBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#loginAccBtn:hover {
    transition: 0.6s;
    background-color: #E2D784;
    transform: scale(1.15);
    color: #062C30;
}

#signUpAccBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: var(--paleCream);
}

#signUpAccBtn:hover {
    transition: 0.6s;
    background-color: #E2D784;
    transform: scale(1.15);
    color: #062C30;
}


#input1 {
    font-size: 2.5rem;
    width: 100%;
    border-radius: 0.2rem;
    margin-top: 4rem;
}

#input2 {
    font-size: 2.5rem;
    width: 100%;
    border-radius: 0.2rem;
}

#author {
    font-size: 3.5rem;
    color: #F66B0E;
}

#content {
    font-size: 2.5rem;
}

.userTemplate {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstNameTemplate{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lastNameTemplate{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userIdTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

.firstNameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

.lastNameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

.lastNameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}


#addPaymentBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#addPaymentBtn:hover {
    transition: 0.6s;
    background-color: #E2D784;
    transform: scale(1.15);
    color: #062C30;
}

#addPurchaseBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#addPurchaseBtn:hover {
    transition: 0.6s;
    background-color: #E2D784;
    transform: scale(1.15);
    color: #062C30;
}

#backBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#addListBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
    width: 15%;
}

#addListBtn:hover {
    transition: 0.6s;
    background-color: #E2D784;
    transform: scale(1.15);
    color: #062C30;
}

#listsAccBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#listsAccBtn:hover {
    transition: 0.6s;
    background-color: #E2D784;
    transform: scale(1.15);
    color: #062C30;
}

#usernameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

#balance {
    font-size: 2rem;
    color: #F5F5F5;
}

.paymentidTemplate{
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.descriptionTemplate{
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.amountTemplate{
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.isPayedTemplate {
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}


.titleTemplate {
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.paymentTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 80%;
}

.paymentBlock{
    display: flex;
    justify-content: space-between;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.paymentHeader {
    display: flex;
    justify-content: space-between;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #E2D784;
    width: 80%;
    margin-top: 5rem;
} 

#paymentInput {
    font-size: 2.5rem;
    width: 80%;
    border-radius: 0.2rem;
}

#amountInput {
    font-size: 2.5rem;
    width: 80%;
    border-radius: 0.2rem;
}

#debtorInput{
    font-size: 2.5rem;
    width: 80%;
    border-radius: 0.2rem;
}

.paymentInputFields {
    width: 90%;
    background-color: #E2D784;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 2rem;
    border-radius: 3rem;
}

#alist {
    color: #E2D784;
    font-size: 4rem;
    margin-top: 2rem;
}

.listHeader {
    display: flex;
    justify-content: center;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #E2D784;
    width: 80%;
    margin-top: 5rem;
}

.listTemplate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #E2D784;
    width: 80%;
    margin-top: 5rem;
}

.mb-3 #listInput {
    font-size: 2rem;
    width: 100%;
    margin: 2rem;
}

.userI {
    height: 80%;
    width: 80%;
    background-color: #05595B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
}

#usernameTemplate {
    font-size: 2.5rem;
    margin: 2rem;
}

#balance {
    font-size: 2.5rem;
    margin: 2rem;
}

#userNameInput {
    font-size: 2.5rem;
    width: 100%;
    border-radius: 0.2rem;
}

.mainForm {
    height: 80%;
    width: 80%;
    background-color: #05595B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
}

.form-control {
    margin: 3rem;
}

#title1 {
    color: #F5F5F5;
    font-size: 3rem;
}

#title2 {
    color: #F5F5F5;
    font-size: 3rem;
}

#title3 {
    color: #F5F5F5;
    font-size: 3rem;
    margin: 1rem;
    margin-left: 4rem;
}

#title4 {
    background-color: #05595B;
    color: #E2D784;
    font-size: 2.5rem;
    max-width: 50%;
    margin-left: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 5rem;
}

.mainM {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 90%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
}

.mainM2 {
    display: flex;
}

    .st0{fill:#006838;}
	.st1{font-family:'MyriadPro-Regular';}
	.st2{font-size:120.3463px;}
	.st3{font-size:52.4478px;}
	.st4{fill:#009444;stroke:#006838;stroke-miterlimit:10;}
	.st5{fill:none;stroke:#006838;stroke-miterlimit:10;}
	.st6{fill:#006838;}
	.st7{opacity:0.9;fill:#006838;}

.logo {
    transform: scale(1.5);
    margin: 3rem;
    margin-top: 5rem;
    margin-left: 10rem;
    
}

/* @keyframes logo {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
} */

#logoTitle1{
    transition: 2s;
    animation: logoTitle1A 2s linear forwards alternate 1.8s;
    fill: #006838;
    opacity: 0;
}

@keyframes logoTitle1A {
    0%{
        opacity: 1;
        fill: white;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}

#logoTitle2{
    transition: 2s;
    animation: logoTitle2A 2s linear forwards alternate 2s;
    fill: #006838;
    opacity: 0;
}

@keyframes logoTitle2A {
    0%{
        opacity: 1;
        fill: white;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}

#logoPath1{
    transition: 2s;
    animation: logoPath1 2s linear forwards alternate;
    fill: #062C30;
}

@keyframes logoPath1 {
    0%{
        opacity: 1;
        fill: #062C30;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}

#logoPath2{
    transition: 2s;
    animation: logoPath2 2s linear alternate;
    fill: #006838;
}

@keyframes logoPath2 {
    0%{
        opacity: 1;
        fill: white;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}


#logoPath4{
    transition: 2s;
    animation: logoPath4 2s linear forwards alternate 0.8s;
    fill: #006838;
    opacity: 0;
}

@keyframes logoPath4 {
    0%{
        opacity: 0;
        fill: white;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}

#logoPath6{
    transition: 2s;
    animation: logoPath6 2s linear forwards alternate 0.5s;
    fill: #006838;
    opacity: 0;
}

@keyframes logoPath6 {
    0%{
        opacity: 0;
        fill: white;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}

#logoLine2{
    transition: 2s;
    animation: logoLine2 2s linear forwards alternate;
    fill: #062C30;
    opacity: 0;
}

@keyframes logoLine2 {
    0%{
        opacity: 1;
        fill: #062C30;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}

#logoLine3{
    transition: 2s;
    animation: logoLine3 2s linear forwards alternate;
    fill: #062C30;
    opacity: 0;
}

@keyframes logoLine3 {
    0%{
        opacity: 1;
        fill: #062C30;
    }
    100%{
        opacity: 1;
        fill:#006838;
    }
}