/* Add front end CSS style here */

:root {
    --darkGreen: #062C30;
    --paleGreen: #05595B;
    --paleYellow: #E2D784;
    --paleCream: #F5F5F5;
}


header {
    display: flex;
    justify-content: center;
    background-color: var(--paleGreen);
    padding-bottom: 2rem;
}

header h1 {
    font-size: 4rem;
    color: var(--paleCream);
    margin-top: 1rem;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--paleGreen);
}

.nav1 button {
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 3rem;
    background-color: var(--darkGreen);
    color: #F66B0E;
    border-radius: 1rem;
    padding: 1rem;
}

.mainBack{
    display: flex;
    justify-content: center;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding-bottom: 5rem;
    width: 85%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
}

.main1All {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding-bottom: 5rem;
    width: 90%;
}



.main1All .blog {
    background-color: var(--paleGreen);
    font-size: 4rem;
    margin: 2rem;
    margin-top: 4rem;
    width: 70%;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: var(--paleCream);
    border-radius: 3rem;
}

#submitBtn {
    margin: 2rem;
    margin-bottom: 5rem;
}

.form-label {
    margin: 2rem;
    margin-top: 4rem;
}

#dash {
    color: #F5F5F5;
}

#logInAccBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#signUpAccBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: var(--paleCream);
}




#input1 {
    font-size: 2.5rem;
    width: 100%;
    border-radius: 0.2rem;
    margin-top: 4rem;
}

#input2 {
    font-size: 2.5rem;
    width: 100%;
    border-radius: 0.2rem;
}

#author {
    font-size: 3.5rem;
    color: #F66B0E;
}

#content {
    font-size: 2.5rem;
}

.userTemplate {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstNameTemplate{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lastNameTemplate{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userIdTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

.firstNameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

.lastNameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

.lastNameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}


#addPaymentBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#addPurchaseBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#backBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#addListBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
    width: 15%;
}

#listsAccBtn {
    margin: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color:#F66B0E;
    font-weight: bold;
    color: #F5F5F5;
}

#usernameTemplate {
    font-size: 2rem;
    color: #F5F5F5;
}

#balance {
    font-size: 2rem;
    color: #F5F5F5;
}

.paymentidTemplate{
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.descriptionTemplate{
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.amountTemplate{
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.isPayedTemplate {
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}


.titleTemplate {
    font-size: 2rem;
    color: #F5F5F5;
    margin: 1rem;
}

.paymentTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 80%;
}

.paymentBlock{
    display: flex;
    justify-content: space-between;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.paymentHeader {
    display: flex;
    justify-content: space-between;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #E2D784;
    width: 80%;
    margin-top: 5rem;
} 

#paymentInput {
    font-size: 2.5rem;
    width: 80%;
    border-radius: 0.2rem;
}

#amountInput {
    font-size: 2.5rem;
    width: 80%;
    border-radius: 0.2rem;
}

#debtorInput{
    font-size: 2.5rem;
    width: 80%;
    border-radius: 0.2rem;
}

.paymentInputFields {
    width: 90%;
    background-color: #E2D784;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 2rem;
    border-radius: 3rem;
}

#alist {
    color: #E2D784;
    font-size: 4rem;
    margin-top: 2rem;
}

.listHeader {
    display: flex;
    justify-content: center;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #E2D784;
    width: 80%;
    margin-top: 5rem;
}

.listTemplate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #05595B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #E2D784;
    width: 80%;
    margin-top: 5rem;
}

.mb-3 #listInput {
    font-size: 2rem;
    width: 100%;
    margin: 2rem;
}

.userI {
    height: 80%;
    width: 80%;
    background-color: #05595B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
}

#usernameTemplate {
    font-size: 2.5rem;
    margin: 2rem;
}

#balance {
    font-size: 2.5rem;
    margin: 2rem;
}

#userNameInput {
    font-size: 2.5rem;
    width: 100%;
    border-radius: 0.2rem;
}

.mainForm {
    height: 80%;
    width: 80%;
    background-color: #05595B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
}

.form-control {
    margin: 3rem;
}

#title1 {
    color: #F5F5F5;
    font-size: 3rem;
}

#title2 {
    color: #F5F5F5;
    font-size: 3rem;
}

#title3 {
    color: #F5F5F5;
    font-size: 3rem;
    margin: 1rem;
    margin-left: 4rem;
}

#title4 {
    color: #062C30;
    font-size: 3rem;
    max-width: 50%;
}

.mainM {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 90%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
}

