/* Add front end CSS style here */

:root {
    --blue1: #051367;
    --blue2: #5D8BF4;
    --lightBlue: #DFF6FF;
    --green1: #A3DA8D;
}

body {
    background-color: var(--lightBlue) !important;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--blue1);
}

header h1 {
    font-size: 4rem;
    color: var(--green1);
    margin-top: 1rem;
}