body {
    font-family: Montserrat, sans-serif;
    background-color: rgb(255, 255, 255);
    color: white;
}

.navbar {
    background-color: rgb(105, 154, 239);
    color: grey;
}


.dropdownMenuButton{
    flex: auto;
    margin-top: 3%;
    background-color: rgb(105, 154, 239);
    border-style: none;
    color: grey;
}

.dropdownMenuButton:hover {
    background-color: rgb(58, 58, 82);
    color: azure;
}

